.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  input {
    background-color: inherit;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 8px;
    padding: 0.35rem;
    width: 100%;
    margin-bottom: 0.8rem;
  }

  input[type="password"] {
    margin-bottom: 3rem;
  }

  .error {
    color: red;
    margin-bottom: 1rem;
  }

  .login-btn {
    color: white;
    background-color: rgb(17, 17, 17, 0.25);
    border-radius: 1.5rem;
    padding-block: 0.7rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .login-btn:hover {
    background-color: #244779;
    transition: all 300ms ease-in-out 75ms;
  }

  .signup-text {
    text-align: center;

    #signup-link {
      text-decoration: underline;
      color: #244779;
      cursor: pointer;
    }
  }
}
