.editor-cont {
  display: flex;
  position: relative;
  padding: 2rem 2rem 0 0;

  .chat-text {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .save-btn {
    position: fixed;
    bottom: 1rem;
    left: 10rem;
  }

  .edit-options {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;

    .edit-box {
      padding: 0.5rem;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.18);
      border-radius: 10px;

      .edit-title {
        font-size: 14px;
        color: black;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .colors-cont {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;

        .color {
          height: 30px;
          width: 30px;
          background-color: black;
          border-radius: 50%;
        }
      }
    }
  }
}
