.custom-color-cont {
  display: flex;
  gap: 0.5rem;

  .custom-display {
    width: 30px;
    height: 30px;

    border-radius: 8px;
    background-color: #184e7f;
  }

  .custom-color-text {
    background-color: #f6f7f5;
    outline: none;
    border-radius: 4px;
    border: none;
    padding-inline: 0.5rem;
  }
}
