.intro {
  font-size: 12px;
  color: black;
  outline: none;
  background-color: #f6f7f5;
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: default;
}

#edit-icon {
  position: absolute;
  right: 4rem;
  top: 0.5rem;
  cursor: pointer;
}
