.hubly-form {
  width: 100%;
  background-color: white;
  border-radius: 4px;

  .form-info {
    font-weight: 500;
    font-size: 0.6rem;
    padding: 0.5rem;

    .actual-form {
      input {
        border: 0;
        border-bottom: 2px solid #c3c3c3;
        margin-bottom: 4px;
      }

      input:focus {
        outline: 0;
      }

      input::placeholder {
        color: black;
      }

      .submit-btn {
        background-color: #184e7f;
        color: white;
        width: 80%;
        justify-self: center;
        padding-block: 4px;
        text-align: center;
        border-radius: 8px;
        letter-spacing: 1px;
        margin-top: 0.5rem;
      }
    }
  }

  .query-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6px;

    input {
      border: 0;
      font-family: Helvetica, sans-serif;
    }

    input:focus-visible {
      outline: none;
    }

    input::placeholder {
      color: #8498b6;
    }
  }
}
