.message-cont {
  position: relative;

  textarea {
    padding: 0.5rem 3.5rem 0.5rem 0.25rem;
    background-color: #f6f7f5;
    font-size: 12px;
    scrollbar-width: none;
    resize: none;
    border: none;
  }

  .word-limit {
    position: absolute;
    top: 8px;
    right: 2rem;
    font-size: 10px;
  }

  img {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}
