.plans-section {
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  padding-inline: 3rem;

  .plans-heading {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }

    p {
      margin-top: 0;
    }
  }

  .plans-cont {
    display: flex;
    gap: 1rem;

    .plans-box {
      border: 2px solid rgba(111, 164, 215, 0.16);
      border-radius: 1.5rem;
      flex: 1;
      background-color: white;
      padding: 1rem;
      padding-block-end: 3rem;
      padding-inline-start: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > div {
        margin-bottom: 1rem;
      }

      .title {
        text-transform: uppercase;
      }

      .pricing {
        > :first-child {
          color: #3a7abd;
          font-size: 3.5rem;
          font-weight: 600;
        }

        > :nth-child(2) {
          color: #98a8b3;
        }

        margin-bottom: 1rem;
      }

      .benefits {
        .ques {
          margin-bottom: 1rem;
        }

        .point {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;

          > span {
            margin-left: 0.5rem;
          }
        }
      }

      a {
        align-self: center;
        text-decoration: none;
        color: #244779;
        text-transform: uppercase;
        font-weight: 500;
        width: 80%;
        border-radius: 4rem;
        display: flex;
        justify-content: center;
        padding-block: 1rem;
        border: 2px solid rgba(36, 71, 121, 0.4);
      }
    }
  }
}
