.delete-modal-overlay {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  transform: translateY(50%);

  .delete-modal-box {
    background: #fff;
    width: 380px;
    padding: 20px 25px 22px;
    border-radius: 18px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);

    .delete-msg {
      font-size: 15px;
      color: #000;
      margin-bottom: 22px;
      text-transform: lowercase;
    }

    .delete-btn-row {
      display: flex;
      justify-content: center;
      gap: 14px;

      .delete-btn {
        width: 110px;
        padding: 9px 0;
        border-radius: 22px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
      }

      .cancel-del {
        background: #f4f5f7;
        color: #888;
      }

      .confirm-del {
        background: #0f4e8a;
        color: white;
        box-shadow: 0 4px 10px rgba(15, 78, 138, 0.3);
      }
    }
  }
}
