.about-cont {
  display: flex;
  justify-content: center;
  text-align: center;

  .about {
    padding-top: 4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-self: center;

    .heading {
      font-size: xx-large;
      font-weight: 700;
    }

    .para {
      color: #30404d;
    }
  }
}
