.dash-cont {
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
  background-color: white;

  .search-cont {
    position: relative;

    img {
      position: absolute;
      left: 1rem;
      bottom: 0.8rem;
    }

    input {
      border: 1.5px solid #e7e7e7;
      background-color: #fbfbfb;
      padding: 0.8rem 0.5rem 0.8rem 3rem;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      color: #b6b6b6;
    }
  }
}
