.chatbot {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: end;
  width: 18rem;

  .hubly-form {
    width: 100%;
    background-color: white;
    border-radius: 4px 4px 4px 4px;

    .status-bar {
      border-radius: 4px 4px 0 0;
      background: #33475b;
      padding: 0.5rem;
      color: white;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .msg-area {
      background-color: #eeeeee;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: 15rem;
      justify-content: end;
      overflow-y: scroll;

      padding: 0.5rem;

      .bot-msg-cont {
        display: flex;
        gap: 0.5rem;

        .auto-msg {
          .msg {
            background: white;
            flex-grow: 0;
            margin-inline-end: 1rem;
            font-size: 0.6rem;
            padding: 0.8rem 0.7rem;
            border-radius: 10px;
            margin-bottom: 10px;
          }
        }
      }

      .msg-form {
        display: flex;
        justify-content: end;

        .form-info {
          border-radius: 10px;
          border: 1px solid #d1d6da;
          background-color: white;
          font-weight: 500;
          font-size: 0.6rem;
          padding: 0.5rem;

          .actual-form {
            input {
              border: 0;
              border-bottom: 2px solid #c3c3c3;
              margin-bottom: 4px;
              cursor: text;
            }

            input:focus {
              outline: 0;
            }

            input::placeholder {
              color: #8e8e8e;
            }

            .submit-btn {
              background-color: #184e7f;
              color: white;
              width: 80%;
              justify-self: center;
              padding-block: 4px;
              text-align: center;
              border-radius: 8px;
              letter-spacing: 1px;
              margin-top: 0.5rem;
            }
          }
        }
      }
    }

    .query-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 6px;

      input {
        border: 0;
        font-family: Helvetica, sans-serif;
      }

      input:focus-visible {
        outline: none;
      }

      input::placeholder {
        color: #8498b6;
      }

      .cursor {
        cursor: not-allowed;
      }
    }
  }

  .message {
    position: relative;
    background-color: white;
    padding-inline: 16px;
    box-shadow: 0 4px 20px rgba(66, 91, 118, 0.15);
    border-radius: 4px;

    .bot-icon {
      position: absolute;
      top: -1rem;
      left: 50%;
    }

    .cross {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }

  .hide {
    display: none !important;
  }
}
