.functions-cont {
  display: flex;
  justify-content: center;

  .functions {
    width: 80%;
    border: 2px solid rgba(111, 164, 215, 0.16);
    border-radius: 1.5rem;
    display: flex;
    gap: 3rem;
    padding: 2rem;
    background-color: white;

    h2,
    h3 {
      text-transform: uppercase;
    }

    p {
      color: #394b59;
      font-size: 0.8rem;
    }

    .points-cont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline-end: 3rem;
    }
  }
}
