.analytics-cont {
  padding: 1rem 0 0 1.5rem;
  width: 60%;

  .section-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #00d907;
  }
}

.reply-time-section {
  margin-block: 1rem;
}

.cont {
  display: flex;
  justify-content: space-between;

  .reply-value {
    color: #00d907;
    font-size: 1.2rem;
    font-weight: 600;
    text-wrap: nowrap;
  }
}

.resolved-section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.desc {
  font-size: 0.75rem;
  color: #000000;
}

.total-chats-label {
  font-size: 0.7rem;
  color: black;
  margin-bottom: 0.8rem;
}

.total-chats-value {
  color: #00d907;
  font-weight: 600;
  font-size: 1rem;
  text-wrap: nowrap;
}
