.auth-page {
  display: flex;
  background-color: #eff0ec;

  .auth-main {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .logo {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .text {
      position: absolute;
      bottom: 2rem;
    }
  }

  .photo-cont {
    flex: 3;
    .photo {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
