.layout {
  display: flex;
  min-height: 100vh;

  .menu-bar {
    flex: 1.2;
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1.5px solid rgba(0, 0, 0, 0.2);

    .main-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 2px;

        .menu-title {
          font-size: 12px;
        }
      }
    }
  }

  .dash-area {
    flex: 18;
  }
}
