.layout {
  display: flex;
  height: 100vh;

  .menu-bar {
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1.5px solid rgba(0, 0, 0, 0.2);

    .main-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      flex: 1;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      > div > div {
        color: #424242;
        font-size: 0.5rem;
        visibility: hidden;
      }

      .show {
        visibility: visible;
      }
    }
  }

  .dash-area {
    flex: 18;
  }
}
